<a href="https://colab.research.google.com/github/shedau28/Demo/blob/master/Module3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What is List? How will you reverse a list?

In [ ]:
#Lists are used to store multiple items in a single variable.
list1 = [1,2,3,4,5]
list1.reverse()
print(list1)

[5, 4, 3, 2, 1]

How will you remove last object from a list?

In [ ]:
list1 = [1,2,3,4,5]

list1.pop(-1)
print(list1)

[1, 2, 3, 4]

Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?

In [ ]:
list1= [2, 33, 222, 14, 25]

#list[-1] is last element of list 25

Differentiate between append () and extend () methods?

In [ ]:
#by using append() method we can add one element at a time in the list  
#and by using extend() method we can add multiple list of items in the list

 Write a Python function to get the largest number, smallest num and sum 
of all from a list.

In [ ]:
list1 = [2, 33, 222, 14, 25]

list1.sort()
print("Smallest number is = " ,list1[0])
list1.reverse()
print("Largest number is = " ,list1[0])

s = 0
for i in list1:
  s += i
  i = i + 1
else:
  print("Sum is = ",s)

Smallest number is =  2
Largest number is =  222
Sum is =  296

 How will you compare two lists?

In [ ]:
list1 = [1, 2, 3]
list2 = [2, 1, 3]
list3 = [3, 2, 4]

list1.sort()
list2.sort()
list3.sort()

#for list1 and list2
if list1 == list2 :
  print("same")
else:
  print("Diffrent")

#for list1 and list3
if list1 == list3 :
  print("same")
else:
  print("Diffrent")

#for list2 and list3
if list3 == list2 :
  print("same")
else:
  print("Diffrent")

same
Diffrent
Diffrent

Write a Python program to count the number of strings where the string 
length is 2 or more and the first and last character are same from a given 
list of strings

In [ ]:
#l1 = []

Write a Python program to remove duplicates from a list

In [ ]:
l1 = [1, 3, 4, 6,3,3,3,3,3,3, 22, 2, 6, 9]

l2 = []

for i in l1:
  if i not in l2:
    l2.append(i)
else:
  print(l2)

[1, 3, 4, 6, 22, 2, 9]

Write a Python program to check a list is empty or not.

In [ ]:
l1 = []
if len(l1) == 0:
  print("Empty")
else:
  print(len(l1))

Empty

Write a Python function that takes two lists and returns true if they have 
at least one common member.

In [ ]:
l1 = [1, 4, 0, 9]
l2 = [2, 5, 7, 8]

for i in l1:
  if i in l2:
    print("True")

Write a Python program to generate and print a list of first and last 5 
elements where the values are square of numbers between 1 and 30.

In [ ]:
l1 = []
l2 = []

for i in range(1 ,30):
  if i**2 <= 30:
    l1.append(i)
    l2.append(i**2)
else:
  print(l1)
  print(l2)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

Write a Python function that takes a list and returns a new list with unique 
elements of the first list.

In [ ]:
l1 = []

n = int(input("Enter number of elements you want to enter ="))

for i in range(0, n):
  element = input()
  l1.append(element)
else:
  print(l1)  

l2 = []

for i1 in l1:
  if i1 not in l2:
    l2.append(i1)
else:
  print(l2)

Enter number of elements you want to enter =7
2
4
5
2
4
4
7
['2', '4', '5', '2', '4', '4', '7']
['2', '4', '5', '7']

Write a Python program to convert a list of characters into a string.

In [ ]:
l1 = []

n = int(input("Enter number of elements you want to enter ="))

for i in range(0, n):
  element = input()
  l1.append(element)
else:
  print(l1)

str1 = ""

for i1 in l1:
  str1 += i1
else:
  print(str1)

Enter number of elements you want to enter =5
s
u
y
o
g
['s', 'u', 'y', 'o', 'g']
suyog

Write a Python program to select an item randomly from a list.

In [ ]:
import random

l1 = []
for i in range(1, 50):
  l1.append(i)
print(l1)


random.choice(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

14

Write a Python program to find the second smallest number in a list.

In [ ]:
l1= [2, 33, 222, 14, 25]

l1.sort()
print(l1[1])

14

Write a Python program to check whether a list contains a sub list

In [ ]:
l1 = [1, 2,['a', 1],3]

for i in l1:
  if type(i) == list:
    print("It contains sub list")
  else:
    pass

It contains sub list

Write a Python program to split a list into different variables

In [ ]:
l1 = [1, 2, 3, 4, 5]


n = len(l1) // 2

print(l1[:n])
print(l1[n:])

[1, 2]
[3, 4, 5]

What is tuple? Difference between list and tuple.

Write a Python program to create a tuple with different data types.

In [ ]:

tuple(x)

#where x is any data type

('s', 'u', 'y', 'o', 'g')

Write a Python program to create a tuple with numbers.

In [ ]:
n = int(input("Total numbers you want to enter = "))
l1 = []
for i in range(0, n):
  ele = int(input("Enter Number = "))
  l1.append(ele)
else:
  print(tuple(l1))

Total numbers you want to enter = 6
Enter Number = 1
Enter Number = 2
Enter Number = 3
Enter Number = 4
Enter Number = 5
Enter Number = 6
(1, 2, 3, 4, 5, 6)

Write a Python program to convert a tuple to a string.

In [ ]:
t1 = ("S" , "u", "y", "o", "g")
s = ""
for i in t1:
  s += i
  
print(s)
print(type(s))

Suyog
<class 'str'>

Write a Python program to check whether an element exists within a 
tuple.

In [ ]:
n = int(input("Element you want to check = "))

t1 = (1, 2, 3, 4, 5)

for i in t1:
  if i == n:
    print("Element exist")

Element you want to check = 4
Element exist

Write a Python program to find the length of a tuple.

In [ ]:
t1 = (1, 2, 3, 4, 5)

len(t1)

5

Write a Python program to convert a list to a tuple.

In [ ]:
l1 = [1, 2, 3, 4]

print(tuple(l1))

(1, 2, 3, 4)

Write a Python program to reverse a tuple.

Write a Python program to replace last value of tuples in a list.

Write a Python program to find the repeated items of a tuple.

Write a Python program to remove an empty tuple(s) from a list of tuples.

In [ ]:
t1 = (1, 2, 3, 4, 5)

#we cant change the order of items in tuple
#tuples are unchangeble
#tuples doesnot contain repeated items

Write a Python program to unzip a list of tuples into individual lists.

In [ ]:
l1 = [(1, 2, 3),(4, 5, 6),(7, 8),(1, 6)]
for i in l1:
 for k in i:
    s = ""
    s += k

    for j in s:
      l2 = []
      l2.append(j)
    else:
      print(l2)

TypeError: ignored

Write a Python program to convert a list of tuples into a dictionary.

 How will you create a dictionary using tuples in python?

In [ ]:
list1 = [('A', 1), ('B', 2), ('C', 3)]
dict1 = dict()

for Letter,int1 in list1:
  dict1.setdefault(Letter, int1)

print(dict1)

{'A': 1, 'B': 2, 'C': 3}

Write a Python script to sort (ascending and descending) a dictionary by 
value

In [ ]:
l1 = []
d1 = {
    "k1" : 7,
    "k2" : 2,
    "k3" : 8,
    "k4" : 6
      }
print(sorted(d1.values()))

[2, 6, 7, 8]

Write a Python script to concatenate following dictionaries to create a 
new one.

In [ ]:
d1 = {'k1' : 1, 'k2' : 2, 'k3' : 3}
d2 = {'k4' : 4, 'k5' : 5, 'k6' : 6}


for key, value in d2.items():
  d1.setdefault(key , value)

print(d1)

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4, 'k5': 5, 'k6': 6}

Write a Python script to check if a given key already exists in a dictionary.

In [ ]:
d1 = {'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4, 'k5': 5, 'k6': 6}

i = input()

if i in d1.keys():
  print("Exist")
else:
  print("Not exist")

fpj
Not exist

How Do You Traverse Through A Dictionary Object In Python?

How Do You Check The Presence Of A Key In A Dictionary?

In [ ]:
for key in dict.keys():
  print("Exist")

Write a Python script to print a dictionary where the keys are numbers 
between 1 and 15.

In [ ]:
d1 = {}

for i in range(2, 15):

  d1.setdefault(i, 'value')
print(d1)

{2: 'value', 3: 'value', 4: 'value', 5: 'value', 6: 'value', 7: 'value', 8: 'value', 9: 'value', 10: 'value', 11: 'value', 12: 'value', 13: 'value', 14: 'value'}

Write a Python program to check multiple keys exists in a dictionary

In [ ]:
d1 = {'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4, 'k5': 5, 'k6': 6}

# For dictionary without sub dictionary
# if length of dictionary > 1 , which means there are multiple keys
if len(d1) > 1:
  print("Multiple Keys")

Multiple Keys

Write a Python script to merge two Python dictionaries

In [ ]:
d1 = {'k1' : 1, 'k2' : 2, 'k3' : 3}
d2 = {'k4' : 4, 'k5' : 5, 'k6' : 6}


for key, value in d2.items():
  d1.setdefault(key , value)

print(d1)

None

 Write a Python program to map two lists into a dictionary

In [ ]:
l1 = [1, 2, 3, 4, 5]
l2 = [24, 52, 14, 63, 41]
d1 = {}



print(d1)

ValueError: ignored

Write a Python program to combine two dictionary adding values for 
common keys.
o d1 = {'a': 100, 'b': 200, 'c':300}
o d2 = {'a': 300, 'b': 200,’d’:400}

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

# for key, value in d2.items():
#   d1.setdefault(key , value)

# print(d1)

d3 = d1.items() + d2.items()
print(d3)

TypeError: ignored

 Write a Python program to print all unique values in a dictionary

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}


for key, value in d2.items():
  d1.setdefault(key, value)


print(d1)

for i in d1.values():
  print(i, end=' ')

{'a': 100, 'b': 200, 'c': 300, 'd': 400}
100 200 300 400

Why Do You Use the Zip () Method in Python?

Write a Python program to create and display all combinations of letters,
selecting each letter from a different key in a dictionary.
o Sample data: {'1': ['a','b'], '2': ['c','d']}
o Expected Output:
o ac ad bc bd

In [ ]:
d1 =  {'1': ['a','b'], '2': ['c','d']}

l1 = d1['1']
l2 = d1['2']

for i in l1:
  for j in l2:
    print(i+j, end=' ')

ac ad bc bd

Write a Python program to find the highest 3 values in a dictionary

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300, 'd': 400}
l1 = []
for i in d1.values():
  l1.append(i)

print(l1)


l1.reverse()


print(l1[0], l1[1], l1[2])

[100, 200, 300, 400]
400 300 200

Write a Python program to combine values in python list of dictionaries. 
Sample data: [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 
300}, {'item': 'item1', 'amount': 750}]
o Expected Output: Counter ({'item1': 1150, 'item2': 300})

In [ ]:
l1 = [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]

for i in l1:
  for key, values in i.items():

Write a Python program to create a dictionary from a string.
o Note: Track the count of the letters from the string. Sample string:
'w3resource'
o Expected output: {'3': 1,’s’: 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}

In [ ]:
str1 = 'w3resource'
d1 = dict()

for i in str1:
  d1.setdefault(i, str1.count(i))

print(d1)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

Write a Python function to calculate the factorial of a number (a nonnegative integer)

In [ ]:
num = int(input("Number = "))



def fac(num):
  sum = 1
  i = 1
  while i <= num :
    sum = (sum * i)
    i = i + 1
  print(sum)

if num>0:
  fac(num)
else:
  print("Enter again")

Number = 4
24

 Write a Python function to check whether a number is in a given range

In [ ]:
num = int(input("Number = "))

def fun1(num):
  if num>=18 :
    print('You can drive')
  else:
    print('You cant drive')

fun1(num)

Number = 15
You cant drive

 Write a Python function to check whether a number is perfect or not.

In [ ]:
def perfect_number(n):
    sum = 0
    for x in range(1, n):
        if n % x == 0:
            sum += x
    return sum == n
print(perfect_number(5))

False

Write a Python function that checks whether a passed string is palindrome 
or not

In [ ]:
def fun2(num):
  str1 = str(num)
  str2 = ''
  l1 = []
  for i in str1:
    l1.append(i)
  l1.reverse()
  for j in l1:
    str2 += j
  if str1 == str2:
    print('Pelindrome')
  else:
    print("not Pelindrome")


fun2(1234)

not Pelindrome

How do you perform pattern matching in Python? Explain

What is lambda function in python? What we call a function which is 
incomplete version of a function?

How Many Basic Types Of Functions Are Available In Python?

How can you pick a random item from a list or tuple?